.title-navbar {
  position: sticky;

  background-color: ;

  padding: 0;
  border: 6px solid black;
  algin-items: center;
  justify-content: space-between;
}

.search-navbar {
  position: sticky;

  background-color: grey;

  padding: 0px ;
  border: 0px solid black;
  margin: 0px;
  space-between: 90px;
  display:flex;
  
  justify-content: center;
}


body {
  margin: 0;
}

.title-navbar ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0;           /* Remove default padding */
    margin: 4;            /* Remove default margin */
    display: flex;        /* Use flexbox to arrange items in a row */
    justify-content: space-around; /* Optional: space items evenly */
}

.Mainheader {
  justify-content: center;
 
  display:flex;
}