.title-navbar {
  position: sticky;

  background-color: grey;

  padding: 0;
  border: 2px solid black;
  algin-items: center;
  /* justify-content: space-around; Work on space around property aka space between the navbars to get rid of thick colling border! */
}

.search-navbar {
  position: sticky;

  background-color: grey;

  padding: 0;
  border: 1px solid black;
  space-between: 20px;
  display:flex;
  
  justify-content: center;
}

body {
  margin: 0;
}

.title-navbar ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0;           /* Remove default padding */
    margin: 0;            /* Remove default margin */
    display: flex;        /* Use flexbox to arrange items in a row */
    justify-content: space-around; /* Optional: space items evenly */
}
